# Jupyter Notebooks
*.ipynb
.ipynb_checkpoints
*-checkpoint.py
*-checkpoint.ipynb

# Input and output data
data/*

# Environment variables
.env

# Virtual environment
.venv

# macOS
.DS_Store

# IDE
.vscode
.idea